body{
    margin: 0%;
    padding: 0;
    background: black;
}
p{
    font-size: 10px;
    line-height: 8px;
    text-align: justify;
    -webkit-background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("5fIiTEyY.jpg");
    background-attachment: fixed;
    


}